<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    

</head>
<body>
   

        <div class="container">
            <div class="row">
                <h1>Thank You</h1>
            <!-- <div class="box-nav d-flex justify-between"> -->
            </div>
            </div> 
   
    <div class="table-responsive">
    <table class="table table-bordered table-primary table-hover">
        <caption>Product Details</caption>
        <thead class="thead-dark">
      <tr>
      <th>Username</th>
      <th>ProductName</th>
    
      <th>Quantity</th>
      <th>Price</th>
      <th>InStock</th>
      <th>Delete</th>
      <th>Update</th>
      </tr>
   </thead>
   <% if(locals.user){%> 
     <tr>
         <td><%=user.name%></td>
         <td><%=records.name%></td>
         <td><%=records.quantity%></td>
         <td><%=records.unitPrice%></td>
         <td><%=records.unitStock%></td>
         <td><a href="/api/delete/<%=records._id%>" ><i class="fa fa-trash"></i></a></td>
         <td><a href="/api/edit/<%=records._id%>"><i class="fa fa-edit" ></i></a></td>
     </tr>
   
   
   <%}%>

</body>
</html>